<div>

	<form name="loginForm" ng-submit="login.submit()" class="loginRegisterForm">
		<md-input-container class="md-block">
			<label>Login name</label>
			<input name="loginName" ng-model="login.loginName">
		</md-input-container>	
		<md-input-container class="md-block">
			<label>Password</label>
			<input type="password" name="password" ng-model="login.password" >
			<md-button type="submit">Login</md-button>
		</md-input-container>	
	</form>

	<form name="registerForm" ng-submit="register.submit()" class="loginRegisterForm">
		<md-input-container class="md-block">
			<label>First name</label>
			<input name="first_name" ng-model="register.first_name">
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Last name</label>
			<input name="last_name" ng-model="register.last_name">
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Location</label>
			<input name="location" ng-model="register.location">
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Description</label>
			<input name="description" ng-model="register.description">
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Occupation</label>
			<input name="occupation" ng-model="register.occupation">
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Login name</label>
			<input name="login_name" ng-model="register.login_name">
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Password</label>
			<input type="password" name="password1" ng-model="register.password1" >
		</md-input-container>	

		<md-input-container class="md-block">
			<label>Retype password</label>
			<input type="password" name="password2" ng-model="register.password2" >

			<md-button type="submit">Register Me</md-button>
		</md-input-container>	

	</form>

</div>